Repository microsoft/mcp, pull requests merged in 2025-10, with the labels that each got.

#505 Merge AppConfig key-value list and show into get
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  tools/Azure.Mcp.Tools.AppConfig/src/AppConfigSetup.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Commands/AppConfigJsonContext.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Commands/KeyValue/KeyValueGetCommand.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Commands/KeyValue/KeyValueListCommand.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Commands/KeyValue/KeyValueShowCommand.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Options/AppConfigOptionDefinitions.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Options/KeyValue/KeyValueGetOptions.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Options/KeyValue/KeyValueShowOptions.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Services/AppConfigService.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Services/IAppConfigService.cs
  tools/Azure.Mcp.Tools.AppConfig/tests/Azure.Mcp.Tools.AppConfig.LiveTests/AppConfigCommandTests.cs
  tools/Azure.Mcp.Tools.AppConfig/tests/Azure.Mcp.Tools.AppConfig.UnitTests/KeyValue/KeyValueGetCommandTests.cs
  tools/Azure.Mcp.Tools.AppConfig/tests/Azure.Mcp.Tools.AppConfig.UnitTests/KeyValue/KeyValueListCommandTests.cs
  tools/Azure.Mcp.Tools.AppConfig/tests/Azure.Mcp.Tools.AppConfig.UnitTests/KeyValue/KeyValueShowCommandTests.cs
Labels: server-Azure.Mcp

#666 Enhance descriptions for Kusto tools
  docs/e2eTestPrompts.md
  eng/tools/ToolDescriptionEvaluator/prompts.json
  eng/tools/ToolDescriptionEvaluator/results.md
  eng/tools/ToolDescriptionEvaluator/tools.json
  servers/Azure.Mcp.Server/CHANGELOG.md
  tools/Azure.Mcp.Tools.Kusto/src/Commands/ClusterGetCommand.cs
  tools/Azure.Mcp.Tools.Kusto/src/Commands/ClusterListCommand.cs
  tools/Azure.Mcp.Tools.Kusto/src/Commands/DatabaseListCommand.cs
  tools/Azure.Mcp.Tools.Kusto/src/Commands/QueryCommand.cs
  tools/Azure.Mcp.Tools.Kusto/src/Commands/SampleCommand.cs
  tools/Azure.Mcp.Tools.Kusto/src/Commands/TableListCommand.cs
  tools/Azure.Mcp.Tools.Kusto/src/Commands/TableSchemaCommand.cs
Labels: tools-Kusto, Tool Selection

#683 Prepare `0.8.4` release
  eng/dnx/nuspec/README.md
  eng/vscode/CHANGELOG.md
  servers/Azure.Mcp.Server/CHANGELOG.md
Labels: documentation, server-Azure.Mcp, blocking-release

#473 adding communication sms send tool
  AzureMcp.sln
  Directory.Packages.props
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/README.md
  servers/Azure.Mcp.Server/src/Program.cs
  tools/Azure.Mcp.Tools.Communication/src/Azure.Mcp.Tools.Communication.csproj
  tools/Azure.Mcp.Tools.Communication/src/Commands/BaseCommunicationCommand.cs
  tools/Azure.Mcp.Tools.Communication/src/Commands/Sms/SmsSendCommand.cs
  tools/Azure.Mcp.Tools.Communication/src/CommunicationJsonContext.cs
  tools/Azure.Mcp.Tools.Communication/src/CommunicationSetup.cs
  tools/Azure.Mcp.Tools.Communication/src/GlobalUsings.cs
  tools/Azure.Mcp.Tools.Communication/src/Models/SmsResult.cs
  tools/Azure.Mcp.Tools.Communication/src/Models/SmsSendCommandResult.cs
  tools/Azure.Mcp.Tools.Communication/src/Options/BaseCommunicationOptions.cs
  tools/Azure.Mcp.Tools.Communication/src/Options/CommunicationOptionDefinitions.cs
  tools/Azure.Mcp.Tools.Communication/src/Options/Sms/SmsSendOptions.cs
  tools/Azure.Mcp.Tools.Communication/src/Services/CommunicationService.cs
  tools/Azure.Mcp.Tools.Communication/src/Services/ICommunicationService.cs
  tools/Azure.Mcp.Tools.Communication/tests/Azure.Mcp.Tools.Communication.LiveTests/Azure.Mcp.Tools.Communication.LiveTests.csproj
  tools/Azure.Mcp.Tools.Communication/tests/Azure.Mcp.Tools.Communication.LiveTests/Azure.Mcp.Tools.Communication.LiveTests.sln
  tools/Azure.Mcp.Tools.Communication/tests/Azure.Mcp.Tools.Communication.LiveTests/CommunicationCommandTests.cs
  tools/Azure.Mcp.Tools.Communication/tests/Azure.Mcp.Tools.Communication.UnitTests/Azure.Mcp.Tools.Communication.UnitTests.csproj
  tools/Azure.Mcp.Tools.Communication/tests/Azure.Mcp.Tools.Communication.UnitTests/Azure.Mcp.Tools.Communication.UnitTests.sln
  tools/Azure.Mcp.Tools.Communication/tests/Azure.Mcp.Tools.Communication.UnitTests/Sms/SmsSendCommandTests.cs
  tools/Azure.Mcp.Tools.Communication/tests/test-resources-post.ps1
  tools/Azure.Mcp.Tools.Communication/tests/test-resources.bicep
Labels: onboarding

#79 [Azure MCP] Add command: `azmcp azuremanagedlustre filesystem create`
  docs/azmcp-commands.md
  eng/pipelines/templates/jobs/live-test.yml
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/README.md
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/AzureManagedLustreSetup.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Commands/AzureManagedLustreJsonContext.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Commands/BaseAzureManagedLustreCommand.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Commands/FileSystem/FileSystemCreateCommand.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Commands/FileSystem/FileSystemUpdateCommand.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Options/AzureManagedLustreOptionDefinitions.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Options/FileSystem/FileSystemCreateOptions.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Options/FileSystem/FileSystemUpdateOptions.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Services/AzureManagedLustreService.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/src/Services/IAzureManagedLustreService.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/tests/Azure.Mcp.Tools.AzureManagedLustre.LiveTests/AzureManagedLustreCommandTests.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/tests/Azure.Mcp.Tools.AzureManagedLustre.UnitTests/FileSystem/FileSystemCreateCommandTests.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/tests/Azure.Mcp.Tools.AzureManagedLustre.UnitTests/FileSystem/FileSystemUpdateCommandTests.cs
  tools/Azure.Mcp.Tools.AzureManagedLustre/tests/test-resources-post.ps1
  tools/Azure.Mcp.Tools.AzureManagedLustre/tests/test-resources.bicep
Labels: server-Azure.Mcp

#83 Azure SignalR onboarding
  .github/CODEOWNERS
  .vscode/cspell.json
  AzureMcp.sln
  Directory.Packages.props
  servers/Azure.Mcp.Server/docs/azmcp-commands.md
  servers/Azure.Mcp.Server/docs/e2eTestPrompts.md
  servers/Azure.Mcp.Server/src/Program.cs
  tools/Azure.Mcp.Tools.SignalR/src/AssemblyInfo.cs
  tools/Azure.Mcp.Tools.SignalR/src/Azure.Mcp.Tools.SignalR.csproj
  tools/Azure.Mcp.Tools.SignalR/src/Commands/BaseSignalRCommand.cs
  tools/Azure.Mcp.Tools.SignalR/src/Commands/Runtime/RuntimeGetCommand.cs
  tools/Azure.Mcp.Tools.SignalR/src/Commands/SignalRJsonContext.cs
  tools/Azure.Mcp.Tools.SignalR/src/GlobalUsings.cs
  tools/Azure.Mcp.Tools.SignalR/src/Models/Identity.cs
  tools/Azure.Mcp.Tools.SignalR/src/Models/NetworkAcls.cs
  tools/Azure.Mcp.Tools.SignalR/src/Models/Runtime.cs
  tools/Azure.Mcp.Tools.SignalR/src/Models/RuntimeProperties.cs
  tools/Azure.Mcp.Tools.SignalR/src/Models/Sku.cs
  tools/Azure.Mcp.Tools.SignalR/src/Models/UpstreamTemplate.cs
  tools/Azure.Mcp.Tools.SignalR/src/Options/BaseSignalROptions.cs
  tools/Azure.Mcp.Tools.SignalR/src/Options/Runtime/RuntimeGetOptions.cs
  tools/Azure.Mcp.Tools.SignalR/src/Options/SignalROptionDefinitions.cs
  tools/Azure.Mcp.Tools.SignalR/src/Services/ISignalRService.cs
  tools/Azure.Mcp.Tools.SignalR/src/Services/SignalRService.cs
  tools/Azure.Mcp.Tools.SignalR/src/SignalRSetup.cs
  tools/Azure.Mcp.Tools.SignalR/tests/Azure.Mcp.Tools.SignalR.LiveTests/Azure.Mcp.Tools.SignalR.LiveTests.csproj
  tools/Azure.Mcp.Tools.SignalR/tests/Azure.Mcp.Tools.SignalR.LiveTests/SignalRCommandTests.cs
  tools/Azure.Mcp.Tools.SignalR/tests/Azure.Mcp.Tools.SignalR.UnitTests/Azure.Mcp.Tools.SignalR.UnitTests.csproj
  tools/Azure.Mcp.Tools.SignalR/tests/Azure.Mcp.Tools.SignalR.UnitTests/Runtime/RuntimeGetCommandTest.cs
  tools/Azure.Mcp.Tools.SignalR/tests/test-resources-post.ps1
  tools/Azure.Mcp.Tools.SignalR/tests/test-resources.bicep
Labels: tools-SignalR

#729 Update ExecuteSingleResourceQueryAsync references to include parameter names
  servers/Azure.Mcp.Server/CHANGELOG.md
  tools/Azure.Mcp.Tools.Acr/src/Services/AcrService.cs
  tools/Azure.Mcp.Tools.AppConfig/src/Services/AppConfigService.cs
  tools/Azure.Mcp.Tools.EventHubs/src/Services/EventHubsService.cs
  tools/Azure.Mcp.Tools.Kusto/src/Services/KustoService.cs
  tools/Azure.Mcp.Tools.Sql/src/Services/SqlService.cs
  tools/Azure.Mcp.Tools.Storage/src/Services/StorageService.cs
Labels: server-Azure.Mcp, tools-Core
