Repository microsoft/mcp, pull requests merged in 2025-09, with the labels that each got.

#121 Add `azmcp sql server firewall-rule create` and `delete` commands and unit tests
  Directory.Packages.props
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/README.md
  tools/Azure.Mcp.Tools.Sql/src/Azure.Mcp.Tools.Sql.csproj
  tools/Azure.Mcp.Tools.Sql/src/Commands/FirewallRule/FirewallRuleCreateCommand.cs
  tools/Azure.Mcp.Tools.Sql/src/Commands/FirewallRule/FirewallRuleDeleteCommand.cs
  tools/Azure.Mcp.Tools.Sql/src/Commands/SqlJsonContext.cs
  tools/Azure.Mcp.Tools.Sql/src/Options/FirewallRule/FirewallRuleCreateOptions.cs
  tools/Azure.Mcp.Tools.Sql/src/Options/FirewallRule/FirewallRuleDeleteOptions.cs
  tools/Azure.Mcp.Tools.Sql/src/Options/SqlOptionDefinitions.cs
  tools/Azure.Mcp.Tools.Sql/src/Services/ISqlService.cs
  tools/Azure.Mcp.Tools.Sql/src/Services/SqlService.cs
  tools/Azure.Mcp.Tools.Sql/src/SqlSetup.cs
  tools/Azure.Mcp.Tools.Sql/tests/Azure.Mcp.Tools.Sql.LiveTests/SqlCommandTests.cs
  tools/Azure.Mcp.Tools.Sql/tests/Azure.Mcp.Tools.Sql.UnitTests/FirewallRule/FirewallRuleCreateCommandTests.cs
  tools/Azure.Mcp.Tools.Sql/tests/Azure.Mcp.Tools.Sql.UnitTests/FirewallRule/FirewallRuleDeleteCommandTests.cs
Labels: tools-SQL

#320 Update CODEOWNERS with new service labels
  .github/CODEOWNERS
Labels: documentation

#353 Add @microsoft/fabric-mcp to codeowners file
  .github/CODEOWNERS
Labels: Fabric.Mcp.Server, Central-EngSys

#108 Update Storage tools
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  eng/tools/ToolDescriptionEvaluator/tools.json
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/README.md
  tools/Azure.Mcp.Tools.Storage/src/Commands/Account/AccountCreateCommand.cs
  tools/Azure.Mcp.Tools.Storage/src/Commands/Blob/BlobUploadCommand.cs
  tools/Azure.Mcp.Tools.Storage/src/Commands/Blob/Container/ContainerCreateCommand.cs
  tools/Azure.Mcp.Tools.Storage/src/Options/Account/AccountCreateOptions.cs
  tools/Azure.Mcp.Tools.Storage/src/Options/Blob/BlobUploadOptions.cs
  tools/Azure.Mcp.Tools.Storage/src/Options/Blob/Container/ContainerCreateOptions.cs
  tools/Azure.Mcp.Tools.Storage/src/Options/StorageOptionDefinitions.cs
  tools/Azure.Mcp.Tools.Storage/src/Services/IStorageService.cs
  tools/Azure.Mcp.Tools.Storage/src/Services/StorageService.cs
  tools/Azure.Mcp.Tools.Storage/tests/Azure.Mcp.Tools.Storage.LiveTests/StorageCommandTests.cs
  tools/Azure.Mcp.Tools.Storage/tests/Azure.Mcp.Tools.Storage.UnitTests/Account/AccountCreateCommandTests.cs
  tools/Azure.Mcp.Tools.Storage/tests/Azure.Mcp.Tools.Storage.UnitTests/Blob/BlobUploadCommandTests.cs
  tools/Azure.Mcp.Tools.Storage/tests/Azure.Mcp.Tools.Storage.UnitTests/Blob/Container/ContainerCreateCommandTests.cs
Labels: Azure.Mcp.Server

#464 Update VSIX README to update service count
  eng/vscode/README.md
Labels: tools-VSIX

#467 Prepare 0.7.0 release
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  eng/dnx/nuspec/README.md
  eng/vscode/CHANGELOG.md
  eng/vscode/README.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/README.md
Labels: documentation, Azure.Mcp.Server, blocking-release

#434 Add `azmcp sql db create` and `azmcp sql db delete` commands and unit tests
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/README.md
  tools/Azure.Mcp.Tools.Sql/src/Commands/Database/DatabaseCreateCommand.cs
  tools/Azure.Mcp.Tools.Sql/src/Commands/Database/DatabaseDeleteCommand.cs
  tools/Azure.Mcp.Tools.Sql/src/Commands/SqlJsonContext.cs
  tools/Azure.Mcp.Tools.Sql/src/Options/Database/DatabaseCreateOptions.cs
  tools/Azure.Mcp.Tools.Sql/src/Options/Database/DatabaseDeleteOptions.cs
  tools/Azure.Mcp.Tools.Sql/src/Options/SqlOptionDefinitions.cs
  tools/Azure.Mcp.Tools.Sql/src/Services/ISqlService.cs
  tools/Azure.Mcp.Tools.Sql/src/Services/SqlService.cs
  tools/Azure.Mcp.Tools.Sql/src/SqlSetup.cs
  tools/Azure.Mcp.Tools.Sql/tests/Azure.Mcp.Tools.Sql.LiveTests/SqlCommandTests.cs
  tools/Azure.Mcp.Tools.Sql/tests/Azure.Mcp.Tools.Sql.UnitTests/Database/DatabaseCreateCommandTests.cs
  tools/Azure.Mcp.Tools.Sql/tests/Azure.Mcp.Tools.Sql.UnitTests/Database/DatabaseDeleteCommandTests.cs
Labels: tools-SQL

#456 Update the Foundry tool to remove the dependency on Azure.ResourceManager.CognitiveServices
  core/Azure.Mcp.Core/src/Services/Azure/BaseAzureResourceService.cs
  core/Azure.Mcp.Core/src/Services/Azure/BaseAzureService.cs
  servers/Azure.Mcp.Server/CHANGELOG.md
  tools/Azure.Mcp.Tools.Foundry/src/Azure.Mcp.Tools.Foundry.csproj
  tools/Azure.Mcp.Tools.Foundry/src/Commands/FoundryJsonContext.cs
  tools/Azure.Mcp.Tools.Foundry/src/Models/ModelDeploymentResult.cs
  tools/Azure.Mcp.Tools.Foundry/src/Services/FoundryService.cs
  tools/Azure.Mcp.Tools.Foundry/src/Services/Models/CognitiveServicesAccountDeploymentData.cs
  tools/Azure.Mcp.Tools.Foundry/src/Services/Models/CognitiveServicesAccountDeploymentModel.cs
  tools/Azure.Mcp.Tools.Foundry/src/Services/Models/CognitiveServicesAccountDeploymentProperties.cs
  tools/Azure.Mcp.Tools.Foundry/src/Services/Models/CognitiveServicesAccountDeploymentScaleSettings.cs
  tools/Azure.Mcp.Tools.Foundry/src/Services/Models/CognitiveServicesSku.cs
Labels: Azure.Mcp.Server

#469 Add VSIX Notification and guidance to restart MCP server on config change.
  eng/vscode/CHANGELOG.md
  eng/vscode/package.json
  eng/vscode/src/extension.ts
Labels: Azure.Mcp.Server

#56 Improve Authentication Integration and Experience in MCP Server.
  core/Azure.Mcp.Core/src/Services/Azure/Authentication/CustomChainedCredential.cs
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/TROUBLESHOOTING.md
Labels: Azure.Mcp.Server, tools-Core

#416 Add command: azmcp applicationinsights recommendation list
  .github/CODEOWNERS
  AzureMcp.sln
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/src/Program.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/ApplicationInsightsSetup.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Azure.Mcp.Tools.ApplicationInsights.csproj
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Commands/ApplicationInsightsJsonContext.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Commands/Recommendation/RecommendationListCommand.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Models/BulkAppsPostBody.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Options/RecommendationListOptions.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Services/ApplicationInsightsService.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Services/IApplicationInsightsService.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Services/IProfilerDataService.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/src/Services/ProfilerDataService.cs
  tools/Azure.Mcp.Tools.ApplicationInsights/tests/Azure.Mcp.Tools.ApplicationInsights.UnitTests/Azure.Mcp.Tools.ApplicationInsights.UnitTests.csproj
  tools/Azure.Mcp.Tools.ApplicationInsights/tests/Azure.Mcp.Tools.ApplicationInsights.UnitTests/RecommendationListCommandTests.cs
Labels: tools-ApplicationInsights

#506 Prepare 0.8.0 release
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  eng/dnx/nuspec/README.md
  eng/vscode/CHANGELOG.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/src/Azure.Mcp.Server.csproj
  tools/Azure.Mcp.Tools.KeyVault/src/KeyVaultSetup.cs
  tools/Azure.Mcp.Tools.KeyVault/tests/Azure.Mcp.Tools.KeyVault.LiveTests/KeyVaultCommandTests.cs
Labels: Azure.Mcp.Server, blocking-release

#513 Increment versions after `0.8.0` release
  eng/vscode/CHANGELOG.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  servers/Azure.Mcp.Server/src/Azure.Mcp.Server.csproj
Labels: Azure.Mcp.Server

#462 Use static artifact names and version suffix veriable
  eng/pipelines/templates/common.yml
  eng/pipelines/templates/jobs/build.yml
  eng/pipelines/templates/jobs/docker/release-docker.yml
  eng/pipelines/templates/jobs/initialize.yml
  eng/pipelines/templates/jobs/integration.yml
  eng/pipelines/templates/jobs/npm/pack-npm.yml
  eng/pipelines/templates/jobs/npm/release-npm.yml
  eng/pipelines/templates/jobs/nuget/pack-and-sign-nuget.yml
  eng/pipelines/templates/jobs/nuget/release-nuget.yml
  eng/pipelines/templates/jobs/release.yml
  eng/pipelines/templates/jobs/sign-and-pack.yml
  eng/pipelines/templates/jobs/vsix/pack-and-sign-vsix.yml
  eng/pipelines/templates/jobs/vsix/release-vsix.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Azure.Mcp.Server

#490 Enhance AKS managed cluster information with comprehensive properties
  tools/Azure.Mcp.Tools.Aks/src/Commands/AksJsonContext.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/Cluster.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/ClusterNetworkProfile.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/ClusterProfiles.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/NodePool.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/OidcIssuerProfile.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/ResourceIdentity.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/ServicePrincipalProfile.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/WindowsGmsaProfile.cs
  tools/Azure.Mcp.Tools.Aks/src/Models/WindowsProfile.cs
  tools/Azure.Mcp.Tools.Aks/src/Services/AksService.cs
  tools/Azure.Mcp.Tools.Aks/tests/Azure.Mcp.Tools.Aks.LiveTests/AksCommandTests.cs
  tools/Azure.Mcp.Tools.Aks/tests/Azure.Mcp.Tools.Aks.LiveTests/NodepoolCommandTests.cs
  tools/Azure.Mcp.Tools.Aks/tests/Azure.Mcp.Tools.Aks.LiveTests/NodepoolGetCommandTests.cs
  tools/Azure.Mcp.Tools.Aks/tests/Azure.Mcp.Tools.Aks.UnitTests/Cluster/ClusterGetCommandTests.cs
  tools/Azure.Mcp.Tools.Aks/tests/Azure.Mcp.Tools.Aks.UnitTests/Cluster/ClusterListCommandTests.cs
  tools/Azure.Mcp.Tools.Aks/tests/Azure.Mcp.Tools.Aks.UnitTests/Nodepool/NodepoolGetCommandTests.cs
  tools/Azure.Mcp.Tools.Aks/tests/Azure.Mcp.Tools.Aks.UnitTests/Nodepool/NodepoolListCommandTests.cs
Labels: Azure.Mcp.Server

#42 Add NuGet MCP Server information to README
  README.md
Labels: documentation

#593 Add installation badge for IntelliJ
  README.md
  servers/Azure.Mcp.Server/README.md
Labels: documentation, server-Azure.Mcp

#54 Add Open AI completions create tool
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  eng/scripts/helpers/TestResourcesHelpers.ps1
  servers/Azure.Mcp.Server/CHANGELOG.md
  tools/Azure.Mcp.Tools.Foundry/src/Azure.Mcp.Tools.Foundry.csproj
  tools/Azure.Mcp.Tools.Foundry/src/Commands/FoundryJsonContext.cs
  tools/Azure.Mcp.Tools.Foundry/src/Commands/OpenAiCompletionsCreateCommand.cs
  tools/Azure.Mcp.Tools.Foundry/src/FoundrySetup.cs
  tools/Azure.Mcp.Tools.Foundry/src/GlobalUsings.cs
  tools/Azure.Mcp.Tools.Foundry/src/Models/CompletionModels.cs
  tools/Azure.Mcp.Tools.Foundry/src/Options/FoundryOptionDefinitions.cs
  tools/Azure.Mcp.Tools.Foundry/src/Options/Models/OpenAiCompletionsCreateOptions.cs
  tools/Azure.Mcp.Tools.Foundry/src/Services/FoundryService.cs
  tools/Azure.Mcp.Tools.Foundry/src/Services/IFoundryService.cs
  tools/Azure.Mcp.Tools.Foundry/tests/Azure.Mcp.Tools.Foundry.LiveTests/FoundryCommandTests.cs
  tools/Azure.Mcp.Tools.Foundry/tests/Azure.Mcp.Tools.Foundry.UnitTests/OpenAiCompletionsCreateCommandTests.cs
  tools/Azure.Mcp.Tools.Foundry/tests/test-resources-post.ps1
  tools/Azure.Mcp.Tools.Foundry/tests/test-resources.bicep
Labels: server-Azure.Mcp, Do Not Merge

#614 Fixing MySQL and Postgres command names. Update `azmcp_mysql_server_param_set` description.
  servers/Azure.Mcp.Server/CHANGELOG.md
  tools/Azure.Mcp.Tools.MySql/src/Commands/Server/ServerConfigGetCommand.cs
  tools/Azure.Mcp.Tools.MySql/src/Commands/Server/ServerParamGetCommand.cs
  tools/Azure.Mcp.Tools.MySql/src/Commands/Server/ServerParamSetCommand.cs
  tools/Azure.Mcp.Tools.MySql/src/Commands/Table/TableSchemaGetCommand.cs
  tools/Azure.Mcp.Tools.MySql/tests/Azure.Mcp.Tools.MySql.UnitTests/Database/DatabaseListCommandTests.cs
  tools/Azure.Mcp.Tools.MySql/tests/Azure.Mcp.Tools.MySql.UnitTests/Database/DatabaseQueryCommandTests.cs
  tools/Azure.Mcp.Tools.MySql/tests/Azure.Mcp.Tools.MySql.UnitTests/Server/ServerConfigGetCommandTests.cs
  tools/Azure.Mcp.Tools.MySql/tests/Azure.Mcp.Tools.MySql.UnitTests/Server/ServerListCommandTests.cs
  tools/Azure.Mcp.Tools.MySql/tests/Azure.Mcp.Tools.MySql.UnitTests/Server/ServerParamGetCommandTests.cs
  tools/Azure.Mcp.Tools.MySql/tests/Azure.Mcp.Tools.MySql.UnitTests/Server/ServerParamSetCommandTests.cs
  tools/Azure.Mcp.Tools.MySql/tests/Azure.Mcp.Tools.MySql.UnitTests/Table/TableListCommandTests.cs
  tools/Azure.Mcp.Tools.MySql/tests/Azure.Mcp.Tools.MySql.UnitTests/Table/TableSchemaGetCommandTests.cs
  tools/Azure.Mcp.Tools.Postgres/src/Commands/Server/ServerConfigGetCommand.cs
  tools/Azure.Mcp.Tools.Postgres/src/Commands/Server/ServerParamGetCommand.cs
  tools/Azure.Mcp.Tools.Postgres/src/Commands/Table/TableSchemaGetCommand.cs
Labels: tools-MySQL, tools-Postgres, Tool Selection

#629 Fixed Kusto owner to list prvavill as primary owner
  .github/CODEOWNERS
Labels: server-Azure.Mcp, tools-Kusto

#641 Preparing `0.8.3` release
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  eng/dnx/nuspec/README.md
  eng/vscode/CHANGELOG.md
  servers/Azure.Mcp.Server/CHANGELOG.md
Labels: documentation, server-Azure.Mcp, blocking-release

#627 Fix args array format in Fabric MCP Server README
  servers/Fabric.Mcp.Server/README.md
Labels: server-Fabric.Mcp

#501 docs: add Cosmos DB RBAC auth instructions to Authentication.md
  docs/Authentication.md
Labels: server-Azure.Mcp

#643 Fix the name of the Key Vault settings get command
  docs/azmcp-commands.md
  servers/Azure.Mcp.Server/CHANGELOG.md
  tools/Azure.Mcp.Tools.KeyVault/src/KeyVaultSetup.cs
Labels: tools-KeyVault
